:root {
  --main-border-color: rgb(10, 7, 7);
  --main-color: rgb(228, 231, 235);
}

html {
  margin: 0;
  background-color: rgb(110, 115, 119);
}
.intro {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
}
.intro > img {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.introtitle {
  margin-left: 20%;
  margin-right: 0;
  margin-bottom: 20%;
  margin-top: 14%;
  color: rgb(228, 231, 235);
  font-weight: 400;
  font-size: 1.2rem;
}
#introbtns {
  display: flex;
}
#try {
  width: 300px;
  height: 38px;
  margin-top: 12px;
  margin-right: 10%;
  background-color: rgb(3, 3, 3);
  border: solid rgb(172, 170, 170) 0.1px;
  border-radius: 10px;
  text-align: center;
  align-content: space-around;
  align-items: center;
  font-weight: 600;
  color: rgb(228, 231, 235);
  padding: 6px;
}
.introtitle > h1 {
  font-size: 4rem;
}
.timer {
  display: flex;
  margin: 40px auto;
  border: solid var(--main-border-color);
  border-radius: 40px;
  width: 200px;
  color: rgb(228, 231, 235);
  font-size: 40px;
  padding: 10px;
}
.timer > * {
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100px;
  margin: auto;
}
#start {
  background-color: rgb(173, 26, 26);
  border: solid var(--main-border-color);
  border-radius: 20px;
  text-align: center;
}

#reset {
  background-color: rgb(173, 26, 26);
  border: solid var(--main-border-color);
  border-radius: 20px;
  text-align: center;
}
#toogleSession {
  background-color: rgb(53, 53, 53);
  border: solid var(--main-border-color);
  border-radius: 20px;
  text-align: center;
  color: rgb(228, 231, 235);
}
#noise {
  background-color: rgb(53, 53, 53);
  border: solid var(--main-border-color);
  border-radius: 20px;
  text-align: center;
  color: rgb(228, 231, 235);
  width: 10%;
  margin: 10px 10px 10px auto;
}
.buttons > * {
  margin: auto 10px 20px;
  padding: 8px;
}
.change {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: auto;
}
.change > * {
  margin: auto 4px 2px;
  padding: 4px;
  font-size: 18px;
}
.study {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  color: rgb(228, 231, 235);
}
#incrementTime {
  border: 2px solid var(--main-border-color);
  border-radius: 20px;
  color: rgb(228, 231, 235);
}

#decrementTime {
  border: 2px solid var(--main-border-color);
  border-radius: 20px;
  color: rgb(228, 231, 235);
}

#incrementBreak {
  border: 2px solid var(--main-border-color);
  border-radius: 20px;
  color: rgb(228, 231, 235);
}

#decrementBreak {
  border: 2px solid var(--main-border-color);
  border-radius: 20px;
  color: rgb(228, 231, 235);
}
.Title {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2px 0px 2px 0px;
  background-color: rgb(34, 32, 32);
  color: rgb(228, 231, 235);
}
.Title > img {
  margin-left: auto;
  width: 100px;
  height: auto;
}
.Title > h1 {
  margin-right: auto;
}
.Footer {
  text-align: center;
  padding: 2px 0px 2px 0px;
  margin-top: 20px;
  background-color: rgb(34, 32, 32);
  color: white;
}
#google {
  width: 100;
  height: auto;
}
.settings > * {
  background-color: rgb(53, 53, 53);
  border: solid var(--main-border-color);
  border-radius: 20px;
  text-align: center;
  color: rgb(228, 231, 235);
  margin-top: 10px;
  margin-right: auto;
  width: 10%;
  height: 10%;
  align-items: center;
  padding: 2px;
}
.settings {
  display: flex;
}
#noise {
  width: auto;
  padding: 4px;
}
#achievements {
  width: 200px;
  margin: 10px auto;
  border: solid black 2px;
  border-radius: 20px;
  background-color: rgb(65, 64, 62);
  color: rgb(228, 231, 235);
  padding: 10px;
}
#pomodoros {
  width: 90%;
  height: 20%;
  margin: auto;
  padding: 6px;
  border: solid black 2px;
  border-radius: 20px;
}
#logosmall {
  display: none;
}
#badge {
  width: 70%;
  height: auto;
  margin-left: 10%;
}
@media only screen and (max-width: 800px) {
  .intro {
    width: 100%;
    height: auto;
  }
  .introtitle > h1 {
    margin-top: 20%;
    font-size: 2rem;
  }
  .introtitle {
    font-size: 1rem;
    margin-left: 2%;
  }
  #MinidoroLogo {
    display: none;
  }
  #try > p {
    font-size: 12px;
    height: 34px;
    margin-top: 8px;
  }  
  #try {
    height: 34px;
  }
  #badge {
    width: 90%;
    height: auto;
  }
  #logosmall {
    transform: translateY(30%);
    display: initial;
    width: 80px;
    height: auto;
  }
  .study {
    width: 300px;
  }
}
